@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #100e1d;
}

.app{
  display: flex;
}

/* font-family: 'Raleway', sans-serif; */
