.input-bar {
  position: absolute;
  width: 268px;
  height: 48px;
  left: 1.5rem;
  top: 82px;
  background: #1E213A;
  border: 1px solid #E7E7EB;
  box-sizing: border-box;
  text-align: center;
  color: #616475;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.button-search {
  position: absolute;
  width: 6.5rem;
  height: 4.8rem;
  left: 29.1rem;
  top: 8.2rem;

  background: #3c47e9;
}
